.contact {
  position: relative;
}

/* Layout */

.contact-content {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 50px;

  align-items: center;
}

/* Left */

.contact-info {
  padding: 50px;

  position: relative;
  overflow: hidden;
}

.contact-info h3 {
  font-size: 2.5rem;

  margin-bottom: 25px;

  color: #00f5ff;
}

.contact-info p {
  color: #cbd5e1;

  line-height: 1.8;

  margin-bottom: 20px;
}

/* Glow */

.contact-glow {
  position: absolute;

  width: 250px;
  height: 250px;

  background: rgba(124,58,237,0.15);

  border-radius: 50%;

  top: -100px;
  right: -100px;

  filter: blur(80px);
}

/* Form */

.contact-form {
  padding: 50px;

  display: flex;
  flex-direction: column;

  gap: 25px;
}

/* Inputs */

.contact-form input,
.contact-form textarea {
  width: 100%;

  padding: 18px 20px;

  border-radius: 18px;

  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.05);

  color: white;

  font-size: 1rem;

  outline: none;

  transition: 0.4s ease;
}

/* Focus */

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #00f5ff;

  box-shadow:
    0 0 20px rgba(0,245,255,0.25);
}

/* Placeholder */

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

/* Responsive */

@media (max-width: 992px) {

  .contact-content {
    grid-template-columns: 1fr;
  }

}