.footer {
  background-color: #020617;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.footer h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.footer p {
  color: #94a3b8;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #38bdf8;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer span {
  color: #64748b;
  font-size: 14px;
}