.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  backdrop-filter: blur(15px);

  background: rgba(255, 255, 255, 0.04);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 0 20px rgba(0, 245, 255, 0.08);
}

.nav-container {
  width: 90%;
  max-width: 1400px;

  margin: auto;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;

  text-decoration: none;

  background: linear-gradient(
    to right,
    #00f5ff,
    #7c3aed
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 0.4s ease;
}

.logo:hover {
  transform: scale(1.08);
}

/* Icon */

.logo-icon {
  font-size: 2rem;

  color: #00f5ff;

  margin-right: 18px;

  filter: drop-shadow(0 0 10px #00f5ff);

  animation: floatIcon 3s ease-in-out infinite;
}

/* Floating Animation */

@keyframes floatIcon {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0px);
  }

}

/* Navigation */

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 500;

  position: relative;
  transition: 0.4s ease;
}

/* Animated Underline */

.nav-links a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: linear-gradient(
    to right,
    #00f5ff,
    #7c3aed
  );

  transition: 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #00f5ff;
}

/* Responsive */

@media (max-width: 768px) {

  .nav-links {
    gap: 20px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logo-icon {
    font-size: 1.5rem;
    margin-right: 14px;
  }

}