.resume {
  padding: 80px 10%;
  background-color: #0f172a;
  text-align: center;
}

.resume-title {
  font-size: 42px;
  margin-bottom: 40px;
  color: white;
}

.resume-container p {
  color: #cbd5e1;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.7;
}

.resume-btn {
  display: inline-block;
  padding: 14px 30px;
  background-color: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: white;
}

@media (max-width: 768px) {
  .resume-title {
    font-size: 32px;
  }

  .resume-container p {
    font-size: 17px;
  }

  .resume-btn {
    font-size: 16px;
    padding: 12px 24px;
  }
}